* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.1rem;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

main {
    margin-top: 50px;
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 2, 32))) fixed;
}

.nav {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.1rem;
    margin: 10px 0;
}

.exercices {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "exercices exercices exercices exercices exercices";
}

.change-link {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.link {
    color: rgb(255, 255, 255);
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 45, 75) solid;
    border-radius: 5px;
    padding: 8px;
    transition: 0.8s;
}

.link:hover {
    box-shadow: 0 0 50px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.center {
    text-align: center;
    margin: 40px auto 20px;
    justify-content: center;
}

/* scrollbar */
body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.2);
  }
