* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000220)) fixed;
}

main {
    background-color: #131313;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 54, 90);
}

h1 {
    color: white;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 117, 196);
    box-shadow: 0px 1px 10px rgb(18, 65, 151);
    border-radius: 10px;
    background-color: rgba(44, 44, 44, 0.7);
    width: fit-content;
    transition: 0.5s;
}

h2 {
    color: #4e4e4e;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}


input {
    color: rgb(190, 190, 190);
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid rgb(0, 117, 196);
    padding: 5px;
}

a {
    color: #ffffff;
    background-color: rgba(44, 44, 44, 0.7);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(0, 117, 196);
    border-radius: 5px;
    padding: 3px;
    transition: .5s;
}

button {
    color: white;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px solid rgb(0, 117, 196);
    padding: 7px;
    border-radius: 5px;
    transition: .8s;
}

button:hover, a:hover {
    box-shadow: 0 0 15px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.msg {
    color: rgb(255, 255, 255);
    text-align: center;
}

.input-center {
    width: fit-content;
    margin: 0 auto;
}

#tipo, #codigo, #media {
    color: white;
    background-color: #000000;
    border-radius: 5px;
    border: 1px rgb(0, 117, 196) solid;
    margin-bottom: 55px;
}

.buttons {
    margin: 15px 0;
}

.next {
    display: flex;
    justify-content: space-between;
}

.off {
    opacity: 0.4;
    cursor: not-allowed;
}

.div {
    justify-content: space-around;
    color: white;
    padding: 10px;
    box-shadow: 0px 1px 10px rgb(18, 65, 151);
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 117, 196) solid;
    width: 100%;
    border-radius: 5px;
}