* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 2, 32))) fixed;
}

.link {
    font-size: 2.9rem;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    transition: 0.8s;
}

.lists {
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 45, 75) solid;
}

.lists:hover {
    box-shadow: 0 0 30px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.center {
    display: block;
    text-align: center;
}

.mb {
    margin: 50px;
}