* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 2.5rem;
    transition: color 10s;
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(32, 0, 0))) fixed;
}

.nav {
    text-align: center;
    font-size: 2.1rem;
    margin: 10px 0;
}

main {
    margin-top: 20px;
}

main h1 {
    text-align: center;
}

.center {
    display: flex;
    text-align: center;
}

.change-link {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.mb {
    margin-bottom: 30px;
}

.link-off {
    opacity: 0.4;
    cursor: not-allowed;
}

.link {
    text-decoration: none;
    background-color: rgba(24, 24, 24, 0.7);
    border: 1px rgb(75, 0, 0) solid;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    transition: 0.8s;
}

.link:hover {
    box-shadow: 0 0 30px rgb(151, 18, 18);
    border: 1px rgb(196, 0, 0) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.link-container {
    margin: 30px auto;
}

/* scrollbar */

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.2);
  }
