* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 2.5rem;
}

main {
    margin: 50px;
}

.title {
    text-align: center;
    margin: 30px 0;
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 2, 32))) fixed;
}

.nav {
    text-align: center;
    font-size: 2.1rem;
    margin: 10px 0;
}

.exercices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.change-link {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.link {
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 45, 75) solid;
    border-radius: 5px;
    padding: 8px;
    transition: 0.8s;
}

.link-off {
    opacity: 0.4;
    cursor: not-allowed;
}

.link-ex {
    margin: 33px;
}

.link:hover {
    box-shadow: 0 0 50px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.back {
    text-align: center;
    margin-bottom: 1em;
}

/* scrollbar */
body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.2);
}