@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    text-decoration: none;
    font-weight: 500;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 2, 32))) fixed;
}

.navbar {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.link {
    font-size: 2.9rem;
    color: rgb(255, 255, 255);
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 45, 75) solid;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    transition: 0.8s;
}

.link:hover {
    box-shadow: 0 0 50px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.center {
    display: flex;
}