@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code';
}

.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000220)) fixed;
}

.nav {
    color: white;
    text-align: center;
    font-size: 2.1rem;
}

main {
    margin-top: 50px;
}

.center {
    display: flex;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    background-color: rgba(44, 44, 44, 0.7);
    border: 1px rgb(0, 45, 75) solid;
    border-radius: 5px;
    padding: 8px;
    transition: 0.8s;
    
}

.link:hover {
    box-shadow: 0 0 50px rgb(18, 65, 151);
    border: 1px rgb(0, 117, 196) solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.link-container {
    margin: 30px auto;
}

/* scrollbar */

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.2);
  }
