h1::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    background-color: rgba(26, 26, 26, 0.7);
    border: 1px solid rgb(0, 54, 90);
    border-radius: 20px;
}

h1::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px; 
}

h1 {
    height: 120px;
    overflow-y: scroll;
}